<!-- <p>single-data works!</p> -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Utilisation du httpModule</h5>
    <p class="card-text">Accès à une base données par API</p>
    <a routerLink='' class="btn btn-primary">Cliquer pour obtenir une information</a>
  </div>
</div>

<!-- <div>{{single?.title}}</div> -->

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div>{{single?.title}}</div>
    </li>
  </ul>
</div>


