<!-- <p>nav works!</p> -->

<!-- basqiue -->
<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link " routerLink=''>Affichage donnée unique</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/liste'>Affichage liste datas</a>
  </li>
</ul> -->

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=''>Affichage donnée unique</a>
    <a class="navbar-brand" routerLink='/liste'>Affichage liste datas</a>
  </div>
</nav>

